.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 40px;
}

@media (max-width: 680px) {
    .header__logo {
        width: 104px;
        height: 24px;
        margin: 0 auto 32px 27px;
    }
}