.page {
    max-width: 880px;
    margin: 45px auto 60px auto;
    background-color: black;
    color: white;
    font-family: Inter, Arial, sans-serif;
}

@media (max-width: 680px) {
    .page {
        margin: 28px auto 36px auto;
    }
}