.profile__change-avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: .4s;
    background-color: rgba(0, 0, 0, .8);
    background-image: url("../../../images/Vector.svg");
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center;
    opacity: 0;
    cursor: pointer;

}

.profile__change-avatar:hover {
    opacity: 1;

}