@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);


@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-unit/profile__avatar-unit.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__change-avatar/profile__change-avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__username/profile__username.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__person/profile__person.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);


@import url(./blocks/places/places.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__info/footer__info.css);


@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__block/popup__block.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__header/popup__header.css);
@import url(./blocks/popup/_type/popup_type_add-place.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__figcaption/popup__figcaption.css);


@import url(./blocks/card/card.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like-counter/card__like-counter.css);
@import url(./blocks/card/__button-like/card__button-like.css);
@import url(./blocks/card/__button-like/_active/card__button-like_active.css);
@import url(./blocks/card/__buttton-removal/card__button-removal.css);
@import url(./blocks/card/__caption/card__caption.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__tittle/card__title.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__section/form__secction.css);
@import url(./blocks/form/__save/form__save.css);
@import url(./blocks/form/__save/_inactive/form__save_inactive.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_invalid/form__input_invalid.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);

@import url(./blocks/popup/_opened/popup_opened.css);